# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data
*.csv
# Ignorar JSON excepto la base de datos de noticias
*.json
!data/noticias_casmu.json

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db
